[Desktop Entry]
Type=Application
Name=LaunchScript
#Exec=lxterminal -e "echo 'Autostart works!'; read"
Exec=bash -c "DISPLAY=:0 /home/hawk/launch.sh"
X-GNOME-Autostart-enabled=true
